<!DOCTYPE html>
<html lang="ja">
<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
            <a href="/bbs">掲示板（BBS）</a>
            </div>
            <div class="pure-u-1-4"></div>
        </div>
        <p class="luna_Instance"><ruby>神月瑠奈<rp>(</rp><rt>かみつきるな</rt><rp>)</rp></ruby> 改造インスタンス</p>
        <p class="luna_Instance">パスワード："Luna"</p>
        <script>function () {location.href="/bbs";}</script>
    </body>
</html>
